<div *ngIf="cabin">
  <form>
    <fieldset>
      <legend>
          <h2>{{cabin.name}} Details</h2>
      </legend>
      
      <div>
        <span>ID: </span>{{cabin.id}}</div>
      <div>
        <p>
          <label>Name:
            <input [ngModel]="cabin.name" placeholder="name" name="cabinName" readonly/>
          </label>
        </p>
        <p>
          <label>Occupancy:
            <input [ngModel]="cabin.occupancy" placeholder="name" name="cabinOccupancy" readonly/>
          </label>
        </p>
        <p>
          <label>Location:
            <input [ngModel]="cabin.location" placeholder="name" name="cabinLocation" readonly/>
          </label>
        </p>
      </div>
    </fieldset>
  </form>

  <button (click)="goBack()">Go Back</button>
</div>