<h3>Activities and Amenities</h3>
<p>Please select an activity below for its details</p>
@if (activities && activities.length) {
  <div>
    <table class="table table-striped table-hover">
      <thead class="activities-table-header">
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        @for (activity of activities; track activity) {
          <tr>
            <td><i class="material-icons">{{activity.icon}}</i></td>
            <td>{{activity.name}}</td>
            <td>{{activity.location}}</td>
            <td>
              <a [routerLink]="['/activities/detail', activity.id]" class="btn btn-primary btn-sm" (click)="selectActivity(activity)">View Details</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}