<header>
  <div class="main-heading">
    <h1>
      {{ title }}
    </h1>
  </div>
  <nav>
    <div class="nav-buttons">
        <button mat-raised-button color="primary" [routerLink]="['/dashboard']">Dashboard</button>    
        <button mat-raised-button [routerLink]="['/cabins']">Cabins</button>    
        <button mat-raised-button [matMenuTriggerFor]="adminMenu">Admin</button>
        <mat-menu #adminMenu="matMenu">
          <button mat-menu-item [routerLink]="['/admin-cabin']">Cabins</button>
        </mat-menu>
    </div>

  </nav>
</header>
<main>
  <!--Note the difference between 'container' and 'container-fluid' in Bootstrap is that
  container will use a fixed width based on the screen for sizing the div; container-fluid uses changes it's size dynamically using all avaliable space.
  Both are responsive, it's just fixed width or not for the container-->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <div class="main-footer">{{ today | date: "yyyy" }} {{ className }}</div>
</footer>
