<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<nav>
    <button class="btn btn-primary" [routerLink]=" ['/dashboard'] ">Dashboard</button>
    <button class="btn btn-secondary" [routerLink]=" ['/cabins'] ">Cabins</button>
  <!-- <ul>
    <li><a href="" [routerLink]="['/dashboard']">Dashboard</a></li>
    <li><a href="" [routerLink]="['/cabins']">Cabins</a></li>
  </ul> -->
</nav>

<router-outlet></router-outlet>
