<div class="row">
    <div class="col-5">
        <mat-card class="specials-card">
            <mat-card-header>
                <mat-card-title>Summer 7-Day Special!</mat-card-title>
                <mat-card-subtitle>Up to 40% off rates</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/Cabin7a.jpg" alt="Ssecials">
            <mat-card-content>
                <h5>
                    Our summer sale is happening now, with the lowest rates of the year!!
                </h5>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Click Here</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-5">
        <mat-card class="specials-card">
            <mat-card-header>
                <mat-card-title>Long Weekend Special!</mat-card-title>
                <mat-card-subtitle>20% off rates</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/Cabin3a.jpg" alt="Ssecials">
            <mat-card-content>
                <h5>
                    Getaway for a long weekend in the mountains on a budget
                </h5>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Click Here</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

