<div class="row carousel-container">
  <div class="col-12">
    <h3>
      Welcome to Mountain Cabin Vacations
    </h3>
    <ng-container *ngIf="(cabins$ | async) as cabins; else loading">
      <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
        <ng-template ngbSlide *ngFor="let cabin of cabins">
          <img src="{{cabin.mainImageUrl}}" alt="{{cabin.name}}" class="cabin-image">
          <div class="carousel-caption">
            <h3>{{cabin.name}}</h3>
            <p>{{cabin.location}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </ng-container>
  </div>
  <ng-template #loading>Loading User Data...</ng-template>
</div>