<div class="row">
  <div class="col-12">
    <h3>
      Welcome to Mountain View Vacations
    </h3>
    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
      <ng-template ngbSlide>
        <img src="../../assets/images/Cabin1.jpg" alt="Mountain View" style="width:100%;">
        <div class="carousel-caption">
          <h3>Mountain View</h3>
          <p>Smoky Mountain West</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/images/Cabin2.jpg" alt="Hillside Escape" style="width:100%;">
        <div class="carousel-caption">
          <h3>Hillside Escape</h3>
          <p>Smoky Mountain North</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/images/Cabin3.jpg" alt="Bear Tracks" style="width:100%;">
        <div class="carousel-caption">
          <h3>"Bear Tracks</h3>
          <p>Smoky Mountain South</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>