/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './styles.variables.scss';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

body {
  font-family: $ff-base;
}

/* Style the header */
header {
  background-color: #665;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  height: $header-height;
}

/* Container for flexboxes */
section {
  display: flex;
  flex-wrap: nowrap;
  /* Calculate the height of your footer element dynamically to adjust the height */
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

/* Style the footer */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: $footer-height;
  background-color: lightgrey;
  color: #4A387D;
  align-items: center;
  border-top: 1px solid $mountain-green;
}

/* Style the navigation menu */
nav {
  flex: 15%;
  background: #ccc;
  padding: 18px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
main {
  flex: 85%;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

ul {
  list-style: none;
  margin: 8px 0;
  padding: 0;

  li a {
      display: flex;
      align-items: center;
      height: 56px;
      padding: 0 20px;
      text-decoration: none;
      color: black;

      span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
      }

      &:hover {
          background: rgba(0,0,0,0.08);
          cursor: pointer;
      }

      i {
          margin-right: 20px;
          opacity: 0.5;
      }
  }
}

// end newly applied styles

.admin-grid-component-container {

    table {
        width: 100%;
      }
      
      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }
      
      td, th {
        width: 25%;
      }

    // @extend .mat-elevation-z8;
}

.admin-button{
    .mat-button, .mat-raised-button{
        background-color:red !important;
    } 
}

.mat-button, .mat-raised-button{
    background-color:#6c757d;
    color: #fff;
} 

.mat-button, .mat-raised-button .mat-button-focus-overlay {
    background-color: #555C62;
  }

.no-hover-effect.mat-button.mat-primary .mat-button-focus-overlay,
.no-hover-effect.mat-button.mat-accent .mat-button-focus-overlay,
.no-hover-effect.mat-button.mat-warn .mat-button-focus-overlay
{
  background-color: green;
}

// Angular Material Snackbar overrides
.mat-mdc-snack-bar-container {
  position: relative !important;
  bottom: 3rem !important;
}